@CHARSET "UTF-8";
/**
 * 
 * @author Adrian Mclaughlin
 * @version 1
 */
/* Layout for Entry pages */

.entry{
	clear:both;
	padding-top: 100px;
	padding-bottom: 50px;
}

.checkbox
{
	display:block;
}