@CHARSET "UTF-8";
body
{
	background-color: #7287d4;
	font-family: fantasy;
	margin:0;
}
.title
{
	position: fixed;
	background-color: #2A51A3;
	width: 100%;
	height: 77px;
	top: 0;
	left: 0;
	text-indent:5%;
}

.navbox
{
	position: fixed;
	top: 0;
	background-color: #80B9E8;
	max-height: 150px;
	min-height: 70px;
	line-height:70px;
	min-width: 100px;
	max-width: 250px;
	border-style:solid;
	margin-right:5px;
	text-align:center;
	border-radius:30px;
	border-collapse: separate;
	margin-right:4px;
	border-color: #345169;
	font-size:x-large;
}

.error_message
{
	border-style: solid;
	border-radius: 25px;
	background-color: red;
	
	position:relative;
	top:200px;
	width:60%;
	left:10%;
	padding: 20px;

	font-size: 20px;
	
	text-align: center;		
	overflow: auto;
}