@import url(Reset.css);
@import url(General.css);




body{
	background-image: url(../images/background_1.jpg);
	background-repeat: repeat;
}

.title{
	padding: 16px;
	float:left;
	width:60%;
}

.profileimg{
	border-style:solid;
	border-width:2px;
	border-radius: 400px/400px;
	width:12%;
	overflow:hidden;
	float:left;
	margin: 2px 11px 2px 5px;
}

.profileimg img{
	display: block;
	width:100%;
}

.page{
	float: left;
	background-color: rgba(255,255,255,0.4);
	border-radius: 25px;
	width: 78%;
	padding-bottom: 30px;
	font-size: 2em;
	line-height: 1.3em;
}



#cert_OCEJEE6WD{
	margin-top: 12px;
	padding-left: 2px;
	
}

#cert_JCP7{
	margin-left: 2px;
}

.cert{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 25px;
	overflow: hidden;
}

.textblock{
	margin-top: 20px;
	margin-left: 13%;
	
}

.info-sidebar{
	float: right;
}

.twitter{
	float:right;
	border-style:solid;
	border-width:1px;
	width:300px;
}

ul{
	list-style-position: inside;
	list-style-type: disc;
}


.homepage-button
{
	display: inline-block;
	color: inherit;
	text-decoration: none;
	border-style: solid;
	border-radius: 16px;
	background-color: white;
	border-width: 1px;
	margin:3px;
	padding: 7px 25px 7px 45px;
	background-repeat: no-repeat;
	background-position: 4px;
}

.github-button
{	
	background-image: url(../images/GitHub-Mark-64px.png);	
	background-size: 25%;
}

.login
{
	background-image: url(../favicon.png);
	background-size: 14%;
	text-align: center;
	width: 258px;
}


@media (min-width:1395px){
	.info-sidebar{
		margin-top: -70px;
	}
}
@media (min-width:800px) and (max-width:1395px){
	.page{
		width:100%;
	}
	.feed{
		float:right;
		margin-left:3px;	
	}
	.twitter
	{
		float:left;
	}
	.info-sidebar{
		float: left;
	}
}
@media (min-width:480px) and (max-width:800px){
	.page{
		width:100%;
		font-size: 1.5em;
	}
	.feed{
		margin-top: 3px;
		float:left;	
	}
	.twitter
	{
		float:left;
	}
	.info-sidebar{
		float: left;
	}
	
}

@media(max-width:480px){
	.info-sidebar{
		display:none;
	}
	.page{
		width:100%;
		font-size: 1.5em;
	}
}

