@CHARSET "UTF-8";
.title 
{
	/* to be removed in the future already in General.css */
	position: fixed;
	background-color: #2A51A3;
	width: 100%;
	height: 77px;
	top: 0;
	left: 0;
	text-indent:5%;
}
.search
 {
 	position: fixed;
 	left:0;
 	bottom:4px;
 	border-style: solid;
 	border-radius: 30px;
 	padding: 10px;
 	min-width:30%;
 	max-width:70%;
 }
 
 .search input[type="text"]
 {
 	max-width:80%;
 	font-size:xx-large;
 	
 }
 .search input[type="submit"]
 {
 	max-height:50px;
 	font-size:xx-large;
 }
.buttons
{
	position:fixed;
	right:4px;
	bottom:4px;
}
.buttons input,button
{
	font-size:xx-large;
}

.results
{
	position: fixed;
	top: 90px;
	left:1%;
	/*border-style: solid;*/
	width:98%;
	min-width:70%;
	max-width:98%;
	height:77%;
	min-height:60%;
	max-height:77%;
	margin-left:4px;
	overflow: auto;
}

TABLE
{
	top:150px;
	background-color:white;
	width:100%;	
}

TD
{
	text-align:left;
	font-size:x-large;
	line-height: 77px;
	white-space: nowrap;
}

TR:nth-child(even)
{
	background-color: gray;
}
TR:nth-child(even)
{
	border-style: solid;
	border-color: gray;
}
TH
{
	text-align:left;
	font-size:x-large;
}

INPUT[type="checkbox"]
{

}
/* Hide Checkboxes*/
.checkbox
{
	visibility:hidden;
	width:0;
}