<?xml version="1.0" encoding="UTF-8"?>
<!--  
	@author Adrian Mclaughlin
 	@version 1
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
   <!-- Error page definitions -->
  
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/WEB-INF/JSP/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/JSP/ErrorPage.jsp</location>
  </error-page>
  
  <!--  Security -->
  <!-- Roles -->
  
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-role>
    <role-name>qc</role-name>
  </security-role>
  <security-role>
    <role-name>guest</role-name>
  </security-role>
  
  
   <!-- Security Constraints -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSP Pages</web-resource-name>
      <url-pattern>/WEB-INF/JSP/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>APLSystemServlet</web-resource-name>
      <url-pattern>/app/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>qc</role-name>
      <role-name>manager</role-name>
      <role-name>guest</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Login.jsp</form-login-page>
      <form-error-page>/LoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  
   <!--  Spring settings -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>	
    				/WEB-INF/SpringConfig/EntityManagerFactory.groovy
    				/WEB-INF/SpringConfig/ProcessContext.groovy
    				/WEB-INF/SpringConfig/PartsContext.groovy  
    				/WEB-INF/SpringConfig/MaterialContext.groovy
    				/WEB-INF/SpringConfig/UserContext.groovy
    				/WEB-INF/SpringConfig/SPCContext.groovy
  </param-value>
  </context-param>
  <context-param>
        <param-name>contextClass</param-name>
        <param-value>
			org.springframework.web.context.support.GroovyWebApplicationContext
        </param-value>
  </context-param>
  
   <!--  My listener Classes -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.amc.servlet.listener.StartupShutdownListener</listener-class>
  </listener>
  <!-- Required for Request scope Spring beans -->
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <!-- Global HttpSession settings -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <!-- Global JSP Directives -->
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  
   <!-- Mapping Servlets to JSP pages so they be accessed by the application -->
  <servlet>
    <servlet-name>UserPage</servlet-name>
    <jsp-file>/WEB-INF/JSP/UserInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/app/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessSheetBean</servlet-name>
    <jsp-file>/WEB-INF/JSP/ProcessSheetBean.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessSheetBean</servlet-name>
    <url-pattern>/app/Processing/ProcessSheetBean</url-pattern>
  </servlet-mapping>
  
  
  <!-- Spring controllers -->
  
  <servlet>
    <servlet-name>Spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextClass</param-name>
        <param-value>
			org.springframework.web.context.support.GroovyWebApplicationContext
        </param-value>
    </init-param>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/User-servlet.groovy</param-value>
  	</init-param>  
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Spring</servlet-name>
    <url-pattern>/app/user/*</url-pattern>
    <url-pattern>/app/spc/*</url-pattern>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  
  <!-- Filter Configuration -->
  
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>org.amc.servlet.filter.UserFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/APLSystemServlet</url-pattern>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>org.amc.servlet.filter.NoCacheFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>NoCacheFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
